.GetStarted {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GetStartedForm {
    display: flex;
    flex-direction: column;
}
.GetStartedForm > p {
    width: 100%;
    height: 100%;
    text-align: center;
}
.GetStartedForm > button {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.GetStartedForm input, button{
    margin: 10px;
    width: 400px;
    height: 50px;
    font-size: 20px;
}

.GetStartedForm button:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}